In [173]:
import pandas as pd

In [174]:
data_customer = pd.read_csv('customers.csv')
data_orders=pd.read_csv('orders.csv')
data_payments=pd.read_csv('payments.csv')

In [175]:
data_customer

    customer_id            name              email        city signup_date
0             1       Ahmed Ali    ahmed@gmail.com       Cairo  2023-01-10
1             2     Mona Hassan                NaN  alexandria  2023-02-15
2             3      John Smith     john@gmail.com        GIZA  2023-03-01
3             4       Sara Adel     sara@gmail.com       cairo  2023-04-20
4             5     Omar Khaled     omar@gmail.com       Cairo  2023-05-11
5             6       Nour Adel                NaN        Giza  2023-06-01
6             7    Youssef Samy  youssef@gmail.com       CAIRO  2023-06-15
7             8   Laila Mahmoud    laila@gmail.com  Alexandria  2023-07-01
8             9  Hassan Mostafa   hassan@gmail.com        giza  2023-07-10
9            10       Mai Ahmed      mai@gmail.com       Cairo  2023-08-01
10           11       Ahmed Ali    ahmed@gmail.com       Cairo  2023-01-10
11           12      Rana Saeed                NaN  alexandria  2023-08-15
12           13     Tarek Fathy    tarek@gmail.com        GIZA  2023-09-01
13           14     Salma Nabil    salma@gmail.com       cairo  2023-09-10
14           15      Karim Adel    karim@gmail.com       Cairo  2023-09-20
15           16      Noha Samir                NaN        Giza  2023-10-01
16           17    Mostafa Amin  mostafa@gmail.com       CAIRO  2023-10-15
17           18     Heba Yasser     heba@gmail.com  Alexandria  2023-11-01
18           19        Ali Reda      ali@gmail.com        giza  2023-11-10
19           20     Dina Ashraf     dina@gmail.com       Cairo  2023-12-01

In [176]:
print(data_customer.dtypes)
data_customer['signup_date']=pd.to_datetime(data_customer['signup_date'])
print(data_customer.dtypes)

customer_id     int64
name           object
email          object
city           object
signup_date    object
dtype: object
customer_id             int64
name                   object
email                  object
city                   object
signup_date    datetime64[ns]
dtype: object

In [177]:
data_customer.fillna({'email':"ddd@gmail.com"},inplace=True)
data_customer

    customer_id            name              email        city signup_date
0             1       Ahmed Ali    ahmed@gmail.com       Cairo  2023-01-10
1             2     Mona Hassan      ddd@gmail.com  alexandria  2023-02-15
2             3      John Smith     john@gmail.com        GIZA  2023-03-01
3             4       Sara Adel     sara@gmail.com       cairo  2023-04-20
4             5     Omar Khaled     omar@gmail.com       Cairo  2023-05-11
5             6       Nour Adel      ddd@gmail.com        Giza  2023-06-01
6             7    Youssef Samy  youssef@gmail.com       CAIRO  2023-06-15
7             8   Laila Mahmoud    laila@gmail.com  Alexandria  2023-07-01
8             9  Hassan Mostafa   hassan@gmail.com        giza  2023-07-10
9            10       Mai Ahmed      mai@gmail.com       Cairo  2023-08-01
10           11       Ahmed Ali    ahmed@gmail.com       Cairo  2023-01-10
11           12      Rana Saeed      ddd@gmail.com  alexandria  2023-08-15
12           13     Tarek Fathy    tarek@gmail.com        GIZA  2023-09-01
13           14     Salma Nabil    salma@gmail.com       cairo  2023-09-10
14           15      Karim Adel    karim@gmail.com       Cairo  2023-09-20
15           16      Noha Samir      ddd@gmail.com        Giza  2023-10-01
16           17    Mostafa Amin  mostafa@gmail.com       CAIRO  2023-10-15
17           18     Heba Yasser     heba@gmail.com  Alexandria  2023-11-01
18           19        Ali Reda      ali@gmail.com        giza  2023-11-10
19           20     Dina Ashraf     dina@gmail.com       Cairo  2023-12-01

In [178]:
data_customer['city']=data_customer['city'].str.lower()
data_customer

    customer_id            name              email        city signup_date
0             1       Ahmed Ali    ahmed@gmail.com       cairo  2023-01-10
1             2     Mona Hassan      ddd@gmail.com  alexandria  2023-02-15
2             3      John Smith     john@gmail.com        giza  2023-03-01
3             4       Sara Adel     sara@gmail.com       cairo  2023-04-20
4             5     Omar Khaled     omar@gmail.com       cairo  2023-05-11
5             6       Nour Adel      ddd@gmail.com        giza  2023-06-01
6             7    Youssef Samy  youssef@gmail.com       cairo  2023-06-15
7             8   Laila Mahmoud    laila@gmail.com  alexandria  2023-07-01
8             9  Hassan Mostafa   hassan@gmail.com        giza  2023-07-10
9            10       Mai Ahmed      mai@gmail.com       cairo  2023-08-01
10           11       Ahmed Ali    ahmed@gmail.com       cairo  2023-01-10
11           12      Rana Saeed      ddd@gmail.com  alexandria  2023-08-15
12           13     Tarek Fathy    tarek@gmail.com        giza  2023-09-01
13           14     Salma Nabil    salma@gmail.com       cairo  2023-09-10
14           15      Karim Adel    karim@gmail.com       cairo  2023-09-20
15           16      Noha Samir      ddd@gmail.com        giza  2023-10-01
16           17    Mostafa Amin  mostafa@gmail.com       cairo  2023-10-15
17           18     Heba Yasser     heba@gmail.com  alexandria  2023-11-01
18           19        Ali Reda      ali@gmail.com        giza  2023-11-10
19           20     Dina Ashraf     dina@gmail.com       cairo  2023-12-01

In [179]:
data_orders

    order_id  customer_id  order_date total_amount
0        101            1  2023/05/01         1000
1        102            2  2023/05/03      850 EGP
2        103            3  2023/05/05         1200
3        104            4  2023/05/07          500
4        105            5  2023/05/10          700
5        106            6  2023/05/12      400 EGP
6        107            7  2023/05/15          950
7        108            8  2023/05/18         1100
8        109            9  2023/05/20          300
9        110           10  2023/05/22      650 EGP
10       111           11  2023/05/25         1000
11       112           12  2023/05/27          800
12       113           13  2023/05/29     1200 EGP
13       114           14  2023/06/01          500
14       115           15  2023/06/03          750
15       116           16  2023/06/05          900
16       117           17  2023/06/07      600 EGP
17       118           18  2023/06/10         1300
18       119           19  2023/06/12          400
19       120           25  2023/06/15          700

In [180]:
print(data_orders.dtypes)
data_orders['order_date']=pd.to_datetime(data_orders['order_date'])
print(data_orders.dtypes)

order_id         int64
customer_id      int64
order_date      object
total_amount    object
dtype: object
order_id                 int64
customer_id              int64
order_date      datetime64[ns]
total_amount            object
dtype: object

In [181]:
data_orders['total_amount'] = (data_orders['total_amount'].str.replace('EGP', '', regex=False).str.strip()
    .astype(float)
)

In [182]:
data_orders

    order_id  customer_id order_date  total_amount
0        101            1 2023-05-01        1000.0
1        102            2 2023-05-03         850.0
2        103            3 2023-05-05        1200.0
3        104            4 2023-05-07         500.0
4        105            5 2023-05-10         700.0
5        106            6 2023-05-12         400.0
6        107            7 2023-05-15         950.0
7        108            8 2023-05-18        1100.0
8        109            9 2023-05-20         300.0
9        110           10 2023-05-22         650.0
10       111           11 2023-05-25        1000.0
11       112           12 2023-05-27         800.0
12       113           13 2023-05-29        1200.0
13       114           14 2023-06-01         500.0
14       115           15 2023-06-03         750.0
15       116           16 2023-06-05         900.0
16       117           17 2023-06-07         600.0
17       118           18 2023-06-10        1300.0
18       119           19 2023-06-12         400.0
19       120           25 2023-06-15         700.0

In [183]:
new_orders= pd.merge(data_orders,data_customer[['customer_id']],on='customer_id', how='inner')

In [184]:
new_orders

    order_id  customer_id order_date  total_amount
0        101            1 2023-05-01        1000.0
1        102            2 2023-05-03         850.0
2        103            3 2023-05-05        1200.0
3        104            4 2023-05-07         500.0
4        105            5 2023-05-10         700.0
5        106            6 2023-05-12         400.0
6        107            7 2023-05-15         950.0
7        108            8 2023-05-18        1100.0
8        109            9 2023-05-20         300.0
9        110           10 2023-05-22         650.0
10       111           11 2023-05-25        1000.0
11       112           12 2023-05-27         800.0
12       113           13 2023-05-29        1200.0
13       114           14 2023-06-01         500.0
14       115           15 2023-06-03         750.0
15       116           16 2023-06-05         900.0
16       117           17 2023-06-07         600.0
17       118           18 2023-06-10        1300.0
18       119           19 2023-06-12         400.0

In [185]:
data_payments

    payment_id  order_id payment_method payment_status
0         9001       101           Card           paid
1         9002       102           Cash           Paid
2         9003       103           Card         FAILED
3         9004       103           Card         FAILED
4         9005       104           Cash           paid
5         9006       105           Card           Paid
6         9007       106           Card           paid
7         9008       107           Cash         FAILED
8         9009       108           Card           paid
9         9010       109           Card           Paid
10        9011       110           Cash           paid
11        9012       111           Card           PAID
12        9013       112           Cash         failed
13        9014       113           Card           paid
14        9015       114           Cash           Paid
15        9016       115           Card           paid
16        9017       116           Card         FAILED
17        9018       117           Cash           paid
18        9019       118           Card           paid
19        9020       130           Card           paid

In [186]:
data_payments['payment_status']=data_payments['payment_status'].str.upper()
data_payments

    payment_id  order_id payment_method payment_status
0         9001       101           Card           PAID
1         9002       102           Cash           PAID
2         9003       103           Card         FAILED
3         9004       103           Card         FAILED
4         9005       104           Cash           PAID
5         9006       105           Card           PAID
6         9007       106           Card           PAID
7         9008       107           Cash         FAILED
8         9009       108           Card           PAID
9         9010       109           Card           PAID
10        9011       110           Cash           PAID
11        9012       111           Card           PAID
12        9013       112           Cash         FAILED
13        9014       113           Card           PAID
14        9015       114           Cash           PAID
15        9016       115           Card           PAID
16        9017       116           Card         FAILED
17        9018       117           Cash           PAID
18        9019       118           Card           PAID
19        9020       130           Card           PAID

In [187]:
new_payments=data_payments.drop_duplicates(subset='payment_id',keep='last')

In [188]:
new_payments

    payment_id  order_id payment_method payment_status
0         9001       101           Card           PAID
1         9002       102           Cash           PAID
2         9003       103           Card         FAILED
3         9004       103           Card         FAILED
4         9005       104           Cash           PAID
5         9006       105           Card           PAID
6         9007       106           Card           PAID
7         9008       107           Cash         FAILED
8         9009       108           Card           PAID
9         9010       109           Card           PAID
10        9011       110           Cash           PAID
11        9012       111           Card           PAID
12        9013       112           Cash         FAILED
13        9014       113           Card           PAID
14        9015       114           Cash           PAID
15        9016       115           Card           PAID
16        9017       116           Card         FAILED
17        9018       117           Cash           PAID
18        9019       118           Card           PAID
19        9020       130           Card           PAID

In [189]:
new_payments_2= pd.merge(new_payments,new_orders[['order_id']],on='order_id', how='inner')

In [190]:
new_payments_2

    payment_id  order_id payment_method payment_status
0         9001       101           Card           PAID
1         9002       102           Cash           PAID
2         9003       103           Card         FAILED
3         9004       103           Card         FAILED
4         9005       104           Cash           PAID
5         9006       105           Card           PAID
6         9007       106           Card           PAID
7         9008       107           Cash         FAILED
8         9009       108           Card           PAID
9         9010       109           Card           PAID
10        9011       110           Cash           PAID
11        9012       111           Card           PAID
12        9013       112           Cash         FAILED
13        9014       113           Card           PAID
14        9015       114           Cash           PAID
15        9016       115           Card           PAID
16        9017       116           Card         FAILED
17        9018       117           Cash           PAID
18        9019       118           Card           PAID

In [191]:
temp_df = pd.merge(data_customer,new_orders, on='customer_id', how='inner')

full_dataset = pd.merge(temp_df,new_payments_2, on='order_id', how='inner')

In [192]:
full_dataset

,customer_id,name,email,city,signup_date,order_id,order_date,total_amount,payment_id,payment_method,payment_status
0,1,Ahmed Ali,ahmed@gmail.com,cairo,2023-01-10,101,2023-05-01,1000.0,9001,Card,PAID
1,2,Mona Hassan,ddd@gmail.com,alexandria,2023-02-15,102,2023-05-03,850.0,9002,Cash,PAID
2,3,John Smith,john@gmail.com,giza,2023-03-01,103,2023-05-05,1200.0,9003,Card,FAILED
3,3,John Smith,john@gmail.com,giza,2023-03-01,103,2023-05-05,1200.0,9004,Card,FAILED
4,4,Sara Adel,sara@gmail.com,cairo,2023-04-20,104,2023-05-07,500.0,9005,Cash,PAID
5,5,Omar Khaled,omar@gmail.com,cairo,2023-05-11,105,2023-05-10,700.0,9006,Card,PAID
6,6,Nour Adel,ddd@gmail.com,giza,2023-06-01,106,2023-05-12,400.0,9007,Card,PAID
7,7,Youssef Samy,youssef@gmail.com,cairo,2023-06-15,107,2023-05-15,950.0,9008,Cash,FAILED
8,8,Laila Mahmoud,laila@gmail.com,alexandria,2023-07-01,108,2023-05-18,1100.0,9009,Card,PAID
9,9,Hassan Mostafa,hassan@gmail.com,giza,2023-07-10,109,2023-05-20,300.0,9010,Card,PAID
10,10,Mai Ahmed,mai@gmail.com,cairo,2023-08-01,110,2023-05-22,650.0,9011,Cash,PAID
11,11,Ahmed Ali,ahmed@gmail.com,cairo,2023-01-10,111,2023-05-25,1000.0,9012,Card,PAID
12,12,Rana Saeed,ddd@gmail.com,alexandria,2023-08-15,112,2023-05-27,800.0,9013,Cash,FAILED
13,13,Tarek Fathy,tarek@gmail.com,giza,2023-09-01,113,2023-05-29,1200.0,9014,Card,PAID
14,14,Salma Nabil,salma@gmail.com,cairo,2023-09-10,114,2023-06-01,500.0,9015,Cash,PAID
15,15,Karim Adel,karim@gmail.com,cairo,2023-09-20,115,2023-06-03,750.0,9016,Card,PAID
16,16,Noha Samir,ddd@gmail.com,giza,2023-10-01,116,2023-06-05,900.0,9017,Card,FAILED
17,17,Mostafa Amin,mostafa@gmail.com,cairo,2023-10-15,117,2023-06-07,600.0,9018,Cash,PAID
18,18,Heba Yasser,heba@gmail.com,alexandria,2023-11-01,118,2023-06-10,1300.0,9019,Card,PAID

In [193]:
full_dataset.to_csv('full_dataset.csv', index=False)